<h1>login</h1>

<form action="/login" method="post">
	email: <input type="email" name="email" id="email" required><br>
	password: <input type="password" name="password" id="password" required><br><br>

	<button type="submit">log in</button>
</form>

<br>
{{#if messages.error}}
	<div>error: {{messages.error}}</div>
{{/if}}

<br><br>

<a href="/">home</a>